.o-bg-transparent-2{

  background-size: cover;
}

.bkgverde{
  background-color: #0F7A2F;
}
.container-cadastro{
  margin: 100px auto 30px;
}

#areaCentralCadastro {
	background-color: #fff;
	border-radius: 15px 0px 0px 15px;
    text-align: left;
    width: 100%;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#areaCentralCadastro input{
  background-color: #e5e5e5;
  border: 0;
  padding: 25px 35px;
}

.areaCentralFoto {
	background-color: #fff;
	border-radius: 0px 15px 15px 0px;
    text-align: left;
    width: 100%;
    padding: 0px;

    margin-top:60px;
    margin-bottom: 60px;
}

.btn,
.figura{
	text-align: center;
}

.figura img{
	text-align: center;
  height: 100px;
  width: 100px;
  margin-top: 25px;
}

.botoes {
    max-width: 100%;
    width: 90%;
}


.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
    text-align: center;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
    text-align: center;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }


  #apresentacao{
	background-image: url('/images/looders/apresentacao.jpg');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	width: 100%;
	height: 100%;
	size: initial;
	align-content: center;
    box-sizing: border-box;
    border-radius: 0px 15px 15px 0px;
}

.inputCadastro{
    border-radius: 50px;
}


#botaoCadastro{
	background-color: #f22441;
  border-color: #f22441;
  padding: 15px 25px;
  border: 0;
  cursor: pointer;
  margin-top: 35px;
	width: 150px;
	color: white;
	border-radius: 100px;
  text-align: center;
}

.sizeFontErro{
  font-size: 16px;
}

@media(max-width:700px) {
  #apresentacao{
    width: 0px;
    height: 0px;
  }
  .areaCentralFoto {
    width: 0px;
    height: 0px;
  }
  #areaCentralCadastro {
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
      text-align: left;
      width: 100%;
      padding: 15px;
      margin-top: 60px;
      margin-bottom: 60px;
  }
}

