/* Começo cadastroJogo.ejs */

#containerTema {
	margin-top: -100px;
}

section#temaCadastroJogo {
	background-image: url('/images/default/GameDefaultTema.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}

#areaCentralJogo {
	background-color: #fff;
	/*height: 1000px;*/
	width: 100%;
	border-radius: 15px;
	text-align: left;
	box-sizing: border-box;
	padding: 30px 0px;
}

#areaCinzaFormJogo {
	background-color: #E5E5E5;
	/*height: 900px;*/
	width: 100%;
	border-radius: 15px;
	text-align: left;
  box-sizing: border-box;
  margin-top: 25px;
  padding: 30px 0px;
}

#areaCentralFormJogo {
	background-color: #fff;
	width: 100%;
	border-radius: 15px;
	text-align: left;
  box-sizing: border-box;
  padding: 30px;
}

#areaCentralFormJogo2 {
	background-color: #fff;
	width: 100%;
	border-radius: 15px;
	text-align: left;
  box-sizing: border-box;
  margin-top: 30px;
}


#cadJogoH1 {
	padding: 30px 30px 0px;
	box-sizing: border-box;
	text-align: center;
}


.image-upload>input {
	display: none;
  }

#addImg{
	padding: 60px 20px;
}

.mycolorbutton{
    background-color: white;
    text-align: left;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	white-space: normal;
}

.btn.mycolorbutton:focus{
	box-shadow: none;
	background-color: white;
}

.nopadding{
	padding: 0px 0px;
}

.cardQtdJogadores{
	height: 90px;
	padding: 0px 0px;
	border: 0px;
}

.cardCarJogo{
	height: 305px;
	padding: 0px 0px;
	border: 0px;
}

.cardCompJogo{
	height: 305px;
	padding: 0px 0px;
	border: 0px;
}

#botaoCadastrar{
	background-color: #f22441;
	border-color: #f22441;
	width: 150px;
	height: 30px;
	color: white;
	border-radius: 100px;
	text-align: center;
}

#btnAltTema2{
	background-color: #f22441;
	border-color: #f22441;
	width: 150px;
	height: 30px;
	color: white;
	border-radius: 100px;
	text-align: center;
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
}

#inputFileTemaJogo{
	display: none;
}

/* Fim cadastroJOgo.ejs */