.o-feeds-header{
  min-height: 314px;
  background: url('/images/bg-feeds.jpg') no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
}

.o-feeds-content-green h2,
.o-feeds-content h2{
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  padding: 35px 0;
}

.o-feeds-content h2{
  font: 900 48px 'Montserrat';
  text-align: center;
  padding: 8vh 0;
  color: #3A3A3A;
  width: 100%;
}

@media(max-width:460px){
  .o-feeds-header{
    min-height: 190px !important;
  }
}

.u-bg-green{
  background-color: #007a23;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.u-bg-white{
  padding-bottom: 130px;
  background-color: #ffffff !important;
}

.u-bg-game{
  padding-bottom: 65px;
  background: url('/images/bgdashboarding.jpg') center center no-repeat;
  background-size: cover;
  min-height: 900px;
  color:#fff
}

/* slider */
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; 
}

  .glide * {
    box-sizing: inherit; 
  }

  .glide__track {
    overflow: hidden; 
  }

  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; 
  }
    .glide__slides--dragging {
      user-select: none; 
    }

  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; 
  }

    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; 
    }

  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; 
  }

  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; 
  }

  .glide--rtl {
    direction: rtl; 
  }

    .glide__slide {
      background-color: pink;
      border: 1px solid blue;
      margin: 0 5px;
      height: 75vh;
      display: list-item;
    }
    
    .glide__arrow--next {
      right: 17%;
    }