footer div {
    height: 60px;
    background-color: #181718;
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    align-self:center;
}