footer div {
    height: 20px;
    background-color: #0F7A2F;
    font-size: 18px;
    font-family: 'Confortaa', arial, sans-serif;
    color: #ffffff;
    text-align: right;
    padding-right: 15px;
	box-sizing: border-box;
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 25px;

}