#temajogo {
	background-image: url('/images/heads/h4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
    height: 50vh;
    
	/* viewport height */
}




/* corpo */
.corpo{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
}



#perfil{

    background-color: #fff;
    border-radius: 15px;
    width: 178px;
    height: 478px;
    /* margin-right: 15px; */
    margin-left:20px;
    padding: 20px;
    background-image: url('/images/jogos/jogo_arcadia_quest_riders.png');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 120px 130px; 
    text-align: center;
}

#perfil p{
    margin-top: 180px;
    font-size: small;
}

#perfil h3{
    margin-top: 20px;
}
.media{
    margin-top: 40px;

}

.notas{
    background-color: #E5E5E5;
    width: 130px;
    height: 33px;
    background-image: url('/images/icons/estrelas45.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    
}


#center{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;
}



/* nav jogo */
.navjogo{
    width: 90%;
    height: 48px;
    border-top: 3px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
}
.navjogo #dado{
    background-image: url('/images/icons/dados1.png');
    background-repeat: no-repeat;
    width: 50px 
}
.navjogo #numd{
    color: #0F7A2F;
    align-self: center;
    font-size: medium;
    font-weight: bolder;
}
.navjogo #numc{
    color:#F22441;
    align-self: center;
    font-size: small;
    font-weight: bolder;
}
.navjogo #coracao{
    background-image: url('/images/icons/coracao2.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    
}
.navjogo #mais{
    background-image: url('/images/icons/plus.png');
    /* background-size: 30px; */
    background-repeat: no-repeat;
    background-position: center;
}
#avaliacao{
    /* width: 196px; */
    
    font-size: small;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    
    
    
}
#star{
    background-image: url('/images/icons/estrela0.png');
    background-size:15px;
    background-repeat: repeat-x;
    width: 85px;
}
.navjogo button{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
}



#jogo{
    
    width: 650px;
    text-align: left;
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
    /* margin-right: 20vw; */
}


#texto{

    font-size: medium;
    width: 60%;
    /* margin-top: -60px; */
}

#texto p{
    padding-top: 40px;
}

#video{
    width: 249px;
    height: 138px;

    background-image: url('/images/jogos/Arcadia_unboxing.png');
    margin-top: 40px;
}

#jogo2{

    background-color: #fff;
    border-radius: 15px;
    width: 178px;
    align-content: center;
    margin-left: 5%;
    padding: 10px;
    
    
}
#jogo2 h3{
    padding: 10px;
    font-weight: bolder;
}

#nomejogo{
    padding: 20px;
}
#estrelas{
    margin-top: 10px;
	align-content: center;
	background-image: url('/images/icons/estrelas45.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 18px;
	background-size:contain;
}
#capajogo1{
    width: 120px;
    height: 130px;
    background-image: url('/images/jogos/jogo_arcadia_quest_riders.png');
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover 
}
#capajogo2{
    width: 120px;
    height: 130px;
    align-content: center;
    background-image: url('/images/jogos/jogo_arcadia_quest_riders.png');
    background-repeat: no-repeat;
    background-size: cover 
}

#resenha{

    
    width: 650px;
    text-align: left;
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 15px;
    box-sizing: border-box;

}
.comentarios{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 649px;
    height: 478px;
    margin-left: 15px;
    justify-content: flex-start;
    /* flex-wrap: wrap;  */
    margin-bottom: 20px;
   
    
}
.comentario{
    display: flex;
    border-radius: 15px;
    width: 620px;
    margin-left: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.avatar{
    background-image: url('/images/fotos/avatar7.jpg ');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	size: initial;
	align-content: center;
	margin-left: 18px;
	margin-bottom: 17.5px;
	margin-top: 17.5px;
	box-sizing: border-box;
}

/* .comentar{
    background-color: #fff;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    align-content: center;
    margin-top: 17.5px;
} */
.comentar textarea{
    /* border: none; */
    resize: none;
    background-color: #fff;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    align-content: center;
    margin-top: 17.5px;
    
}
.comentario button{
    background-color:#F22441;
    width: 100px;
    margin-left: 570px;
    margin-top: -10px;
    border-radius: 15px;
    color: #fff;
    border:none

    
}
.coment{
    background-color: #fff;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
    align-content: center;
    font-size: small;
    margin-top: 20px;
}


@media only screen and (max-width: 923px){
    .corpo{
        flex-direction: column;
    }
    
    #perfil{
        width: 100vw;
        margin: 0;
        
    }
    #jogo{
        width: 100vw;
        margin: 0;
    }
    #jogo2{
        width: 100vw;
        margin: 0;
        align-content: center;
    }

    #resenha{
        width: 100vw;
        margin: 0;
    }
    #avatar{
        width: 0;
        height: 0;
    }
}