section#tema {
	background-image: url('/images/heads/ProfileDefaultTema.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
	box-sizing: border-box;
}

#cabecalho{
	overflow-y: hidden ;width:100%;
	height: auto;	
	max-height: 300px;
	margin-bottom: -100px;
	background-color: #fff;
	border-radius: 15px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-around;
}
strong{
	font-size: 16pt;
}

#highLights{
	max-height: 290px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

#areaCentral {
	background-color: #fff;
	height: auto;
	width: 100%;
	border-radius: 15px;
	text-align: center;
	margin-top: 185px;
	padding-bottom: 5px;
	box-sizing: border-box;
	display: flex;
	text-align: center;
}



.containerTabela{
	align-self: initial;
	justify-content: space-around;
	box-sizing: border-box;
	margin: 20px;
	margin-right: 20px;
	align-content: flex-start;
	margin-bottom: 20px;
}


#avatar1{
	background-image: url('/images/fotos/avatar7.jpg ');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	size: initial;
	align-content: center;
	box-sizing: border-box;
}

#avatarEnd{
	font-size: 0px;
}

#highLights{
	height: 100px;
	width: 200px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
}

#highLights h3 {
	color: #F22441;
	font-weight: 700;
	height: 30px;
	margin: 5px;
	word-wrap:break-word;
}

#highLights h4 {
	font-weight: 500;
	height: 30px;
	word-wrap:break-word;
}

#descricao{
	max-height: 80px;
	width: 450px;
	font-size: 12pt;
	box-sizing: border-box;
	font-weight: 500;
	word-wrap: break-word;
	
}

#destaques{
	height: 100%;
	display: flex;
	flex-direction: column;
}


@media(max-width:400px) {
	#avatar {
		width: 0px;
		height: 0px;
	}

	.redesSociais{
		width: 0px;
		height: 0px;
	}
}

