section#tema {
	background-image: url('/images/heads/h3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
	box-sizing: border-box;
}

#cabecalho{
	overflow-y: auto ;width:100%;
	height: auto;	
	max-height: 300px;
	margin-bottom: -100px;
	background-color: #fff;
	border-radius: 15px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	display: flex;
}

#areaCentral {
	background-color: #fff;
	height: auto;
	width: 100%;
	border-radius: 15px;
	text-align: center;
	margin-top: 185px;
	padding-bottom: 5px;
	box-sizing: border-box;
	display: flex;
	text-align: center;
}



.containerTabela{
	align-self: initial;
	justify-content: space-around;
	box-sizing: border-box;
	margin: 20px;
	margin-right: 20px;
	align-content: flex-start;
	margin-bottom: 20px;
}


.containerJogo{
	width: 200px;
	margin: auto;
}

#estrelas{
	align-content: center;
	background-image: url('/images/icons/estrelas45.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 18px;
	background-size:contain;
}

#capaJogo{
	background-image: url('/images/jogos/jogo_star_wars_legion.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 175px;
	background-size:contain;
}

#nomeJogo{
	padding-top: 10px;
	width: 100%;
	font-weight: 500;
}



#avatar{
	background-image: url('/images/fotos/avatar7.jpg ');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	size: initial;
	align-content: center;
	margin-left: 18px;
	margin-bottom: 17.5px;
	margin-top: 17.5px;
	box-sizing: border-box;
}

#highLights{
	height: 100px;
	width: 200px;
	margin-bottom: 17.5px;
	margin-top: 17.5px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
}

#highLights h3 {
	color: #F22441;
	font-weight: 700;
	height: 30px;
	margin: 5px;
	word-wrap:break-word;
}

#highLights h4 {
	font-weight: 500;
	height: 30px;
	word-wrap:break-word;
}

#descricao{
	max-height: 80px;
	width: 450px;
	margin-bottom: 17.5px;
	margin-top: 17.5px;
	font-size: 11pt;
	box-sizing: border-box;
	font-weight: 500;
	word-wrap: break-word;
	
}


.redesSociais{
	height: 40px;
	width: 100px;
	box-sizing: border-box;
	display: flex;
	margin: auto;
	margin-right: 10px;
}

#facebook{
	background-image: url('/images/icons/Facebook.svg');
}

#twitter{
	background-image: url('/images/icons/Twitter.svg');
	
}

#googleplus{
	background-image: url('/images/icons/Googleplus.svg');
}

#facebook,
#twitter,
#googleplus{

	width: 30px;
	background-position: center;
	background-repeat: no-repeat; 
	background-size:contain;
}

#botao {
    box-sizing: border-box;
    background-color: #f22441;
    border-color: #f22441;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    align-content: center;
    
}

form{
    text-align: right;
    padding-right: 50vh;
}

#areaBotao{
	background-color: #fff;
	height: auto;
	width: 100%;
	border-radius: 0px 15px;
	text-align: right;
	margin-top: -20px;
	padding-bottom: 5px;
	box-sizing: border-box;
	text-align: center;
}



@media(max-width:400px) {
	#avatar {
		width: 0px;
		height: 0px;
	}

	.redesSociais{
		width: 0px;
		height: 0px;
	}
}

