
section#temaPerfil {
	background-image: url('/images/heads/h1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}

#areaCentral {
	background-color: #fff;
	height: 1000px;
	width: 100%;
	border-radius: 15px;
	text-align: left;
	box-sizing: border-box;
	margin-top: -100px;
}


#perfilAdmH1 {
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	box-sizing: border-box;
	font-size: 1;
}

.container2 {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #E5E5E5;
	max-height: 200px;
	border-radius: 8px;
}

#admCol1 {
	color: #0F7A2F;
	text-align: center;
	padding: 15px 15px;
}

#admCol1 h1 {
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;

}

#admCol2 {
	color: #DBAF40;
	text-align: center;
	padding: 15px 15px;
}

#admCol2 h1 {
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;
}

#admCol3 {
	color: #F22441;
	text-align: center;
	padding: 15px 15px;
}

#admCol3 h1 {
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;
}

#busca {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #E5E5E5;
	min-height: 40px;
	border-radius: 8px;
}

#buscaForm {
	text-align: right;
	border-radius: 10%;
	max-height: 95vh;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 0px
}

#buscaFormTx{
	text-align: right;
	padding-right: 1%;
}

img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}


#table {
	text-align: center;
}

td{
	max-width: 50%;
}

th {
	font-weight: 600;
}

#like{
	width: 25px;
	height: 25px;
}

#descricao{
	max-width: 20%;
}

/* Fim perfilAdm.ejs*/