<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Looders - <%= title %></title>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/fontface.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/separados/cadastroJogo.css' />
</head>
    <header class="container-fluid o-header">
        <div class="row">
            <div class="container">
                <div class="row o-header__container">
                    <div class="o-header__container--logo">
                        <div class="u-logo">
                            <a href="/"><img src="/images/logo.png" alt=""></a>
                        </div>
                        <div class="u-logo--mobile">
                            <a href="/"><img src="/images/logo-mobile.png" alt=""></a>
                        </div>
                    </div>
                    <nav class="o-header__container--menu">
                        <ul>
                            <li><a href="">Pagina de teste</a></li>
                            <li>
                                <a href="">Perfil </a>

                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<body>
