<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Looders - <%= title %></title>
    <%- include('./head') %>
</head>
    <header class="container-fluid o-header u-header-landing">
        <div class="row">
            <div class="container">
                <div class="row o-header__container">
                    <div class="o-header__container--logo">
                        <div class="u-logo">
                            <a href="/"><img src="/images/logo-landing.png" alt=""></a>
                        </div>
                        <div class="u-logo--mobile">
                            <a href="/"><img src="/images/logo-mobile.png" alt=""></a>
                        </div>
                    </div>
                    <nav class="o-header__container--login">
                       <ul>
                         <li><span>Já está na Looders?</span></li>
                        <li>
                          <span class="js-modal-login o-btn--rounded animate-grow">Entrar</span>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="c-banner-landing">
      <h1><strong>Crie seu perfil agora</strong> e encontre os seus <strong>jogos favoritos, avalie, comente </strong>e faça <strong>novos amigos</strong></h1>
      <a href="#" class="animate-grow">Cadastre-se</a>
    </div>
    <nav class="o-sticky-menu container-fluid">
        <ul class="row">
            <li><a href="#destaques" class="animate-underline-from-center">Destaques</a></li>
            <li><a href="#feedbacks" class="animate-underline-from-center">Feedbacks</a></li>
            <li><a href="#colecoes" class="animate-underline-from-center">Colecoes</a></li>
            <li><a href="#comunidade" class="animate-underline-from-center">Comunidade</a></li>
        </ul>
    </nav>
<body>
