


<div class="row o-highlights o-highlights-five" id="highlights-five">
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights__content o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-five__description">

    </div>
  </div>
</div>
