<div class="row o-highlights o-highlights-three u-highlights-grey" id="highlights-five">
  <% for(let jogo of jogos) { %>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3" data-aos="fade-up"
    data-aos-duration="1000"
    style="padding: 0; display: flex; ">
    <div class="o-highlights_content-animate animate-grow-shadow c-category-<%= jogo.tema_id %>">
      <a href="/jogo?id=<%= jogo.id %>">
        <div class="o-highlights__header o-highlights-three__header"
          style="box-sizing: content-box; overflow: hidden;">
          <img src="/buscaImagem/<%= jogo.foto %>" alt="" style="height: auto;">
        </div>
        <div class="o-highlights__description o-highlights-three__description"
          style="padding-bottom: 10px; padding-left: 10px;">
          <h2><%= jogo.nome %></h2>
        </div>
      </a>
    </div>
    
  </div>
  
  <% } %>
  <% if(jogos.length == 0) { %>
    <p>Nenhum jogo adicionado.</p>
  <% } %>
</div>

<script src="js/scriptListaJogos.js" defer></script>