<div class="row o-highlights-five">
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
  <div class="o-highlights-five__content o-col-and-5 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights-five__header">
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.JPG" alt="">
    </div>
    <div class="o-highlights-five__description">

    </div>
  </div>
</div>
