<div class="row o-highlights o-highlights-five" id="highlights-five">

  <div class="example " data-component="example" data-active-class="example--active">
    <div class="example__frame">
      <div class="space space--medium">
    
        <div id="options-start-at" class="slider glide">
        <div class="slider__track glide__track" data-glide-el="track">
          <ul class="slider__slides glide__slides">
            <% for(let jogo of jogos) { %>
              <li class="o-highlights__content o-highlights-five__content o-col-and-5 slider__frame glide__slide"
                style="padding: 0; display: flex; width: 300px; box-shadow: 0 0 35px 0 hsla(0,0%,73%,.8);"
                data-aos="fade-up" data-aos-duration="1000">
                <div class="o-highlights_content-animate animate-grow-shadow">
                  <% if(flagClicavel) { %>
                    <a href="/jogo?id=<%= jogo.id %>">
                      <% } %>
                      <div class="o-highlights__header o-highlights-five__header">
                        <img src="/buscaImagem/<%= jogo.foto %>" alt="" style="height: auto;">
                      </div>
                      <div class="o-highlights__description o-highlights-five__description">
                        <h2><%= jogo.nome %></h2>
                      </div>
                    </a>
                </div>
                
              </li>
            <% } %>
          </ul>
        </div>
      
        <div data-glide-el="controls">
          <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"/>
            </svg>
          </button>
      
          <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
