<div class="row o-highlights o-highlights-three u-highlights-grey">
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
  <div class="o-highlights__content o-highlights-three__content o-col-and-3 animate-float-shadow" data-aos="fade-up" data-aos-duration="1000">
    <div class="o-highlights__header o-highlights-three__header" >
      <h2>Capitao Silver</h2>
      <img src="images/capitao_silver.jpg" alt="">
    </div>
    <div class="o-highlights__description o-highlights-three__description">
dsffds
    </div>
  </div>
</div>
