<div class="o-modal-container">
  <div class="o-modal-container__box">
    <strong class="js-modal-close">X</strong>
    <img src="images/fotos/avatar.jpg" alt="" />
    <form class="o-modal-container--form" action="/login" method="post">
      <input type="text" placeholder="E-mail" name="email">
      <input type="password" placeholder="Senha" name="senha">
      <a href="#">Esqueci a senha</a>
      <!-- <button>Entrar</button> -->
 
      <button class="u-bt-provisional" type="submit" id="button">Entrar</button>
    </form>
  </div>
</div>