<div class="o-modal-container">
  <div class="o-modal-container__box">
    <strong class="js-modal-close">X</strong>
    <img src="images/fotos/avatar.jpg" alt="" />
    <form class="o-modal-container--form" action="/" method="post">
      <input type="text" placeholder="E-mail" name="email">
      <input type="password" placeholder="Senha" name="password">
      <a href="#">Esqueci a senha</a>
      <!-- <button>Entrar</button> -->
      <a class="u-bt-provisional" href="/feeds">Entrar</a>
    </form>
  </div>
</div>