<fieldset class="c-rating">
  <input type="radio" id="star5" name="c-rating" value="5" /><label class="full" for="star5" title="Incrivel"></label>
  <input type="radio" id="star4half" name="c-rating" value="4.5" /><label class="half" for="star4half"
    title="Excelente"></label>
  <input type="radio" id="star4" name="c-rating" value="4" /><label class="full" for="star4" title="Muito bom"></label>
  <input type="radio" id="star3half" name="c-rating" value="3.5" /><label class="half" for="star3half"
    title="Bom"></label>
  <input type="radio" id="star3" name="c-rating" value="3" /><label class="full" for="star3" title="Regular"></label>
  <input type="radio" id="star2half" name="c-rating" value="2.5" /><label class="half" for="star2half"
    title="Jogavel"></label>
  <input type="radio" id="star2" name="c-rating" value="2" /><label class="full" for="star2" title="Ruim"></label>
  <input type="radio" id="star1half" name="c-rating" value="1.5" /><label class="half" for="star1half"
    title="Muito Ruim"></label>
  <input type="radio" id="star1" name="c-rating" value="1" /><label class="full" for="star1" title="Pessimo"></label>
  <input type="radio" id="starhalf" name="c-rating" value="0.5" /><label class="half" for="starhalf"
    title="Desastre"></label>
</fieldset>

<script>
  preencheNota('<%= (avaliacaoUsuario / 2)  %>')

  function preencheNota(nota) {
    switch (nota) {
      case '0.5':
        document.getElementById('starhalf').checked = true;
        break;
      case '1':
        document.getElementById('star1').checked = true;
        break;
      case '1.5':
        document.getElementById('star1half').checked = true;
        break;
      case '2':
        document.getElementById('star2').checked = true;
        break;
      case '2.5':
        document.getElementById('star2half').checked = true;
        break;
      case '3':
        document.getElementById('star3').checked = true;
        break;
      case '3.5':
        document.getElementById('star3half').checked = true;
        break;
      case '4':
        document.getElementById('star4').checked = true;
        break;
      case '4.5':
        document.getElementById('star4half').checked = true;
        break;
      case '5':
        document.getElementById('star5').checked = true;
        break;
    }
  }
</script>