<div class="c-trending-searches" data-controller="trending-searches">
  <ul class="c-trending-searches__links">
    <span class="c-trending-searches__label">
      Categorias:
    </span>

    <li class="c-trending-searches__link">
      <a data-search-term="background" data-action="trending-searches#trackTrendingSearch"
        href="/free-vector/background">Background</a>
    </li>

    <li class="c-trending-searches__link">
      <a data-search-term="banner" data-action="trending-searches#trackTrendingSearch"
        href="/free-vector/banner">Banner</a>
    </li>

    <li class="c-trending-searches__link">
      <a data-search-term="brochure" data-action="trending-searches#trackTrendingSearch"
        href="/free-vector/brochure">Brochure</a>
    </li>

    <li class="c-trending-searches__link">
      <a data-search-term="heart" data-action="trending-searches#trackTrendingSearch"
        href="/free-vector/heart">Heart</a>
    </li>

    <li class="c-trending-searches__link">
      <a data-search-term="flower" data-action="trending-searches#trackTrendingSearch"
        href="/free-vector/flower">Flower</a>
    </li>
  </ul>
</div>