<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/perfilModerador.css' />
<!--
<div>
    <img src="/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" width=100% />
</div>
-->

<section id="temaPerfil"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>
            404
        </div>
    </div>
</div>





<%- include('./partials/footer') %>