<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/404.css' />

<section id="temaPerfil"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>
            <h1>Página não encontrada - Erro 404</h1>
        </div>
        <div id='espaco'></div>
    </div>
</div>

<%- include('./partials/footer') %>