<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/404.css' />

<section id="temaPerfil"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>
            <h1>Página não encontrada - Erro 404</h1>
        </div>       
    </div>
    <div class="row"><div id='espaco'></div></div>
    <div class="row" id='areaBotao'><a href='/feeds'><div id='sair'><strong>Voltar</strong></div></a></div>
</div>

<%- include('./partials/footer') %>