<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/busca.css' />
<section id="temaBusca"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentralJogo'>
            <div class="row justify-content-center">
                <div id="caixaDeBusca" class="col-10 ">
                    <div class="row justify-content-center ">
                        <label for="form-group">Buscar Por: </label>
                        <select class="form-group col-6">
                            <option>Fantasia</option>
                            <option>Ficção Cientifica</option>
                            <option>Civilização</option>
                            <option>Faroeste</option>
                        </select>
                        <select class="form-group col-6" id="input2">
                            <option>Fantasia</option>
                            <option>Ficção Cientifica</option>
                            <option>Civilização</option>
                            <option>Faroeste</option>
                        </select>
                    </div>
                    <div class="row justify-content-end">
                        <button type="button" id="buscaJogo"><img src="/images/icons/Lupa.png" alt=""
                                srcset=""></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 " id="filtroBuscaJogo">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filtros:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                </div>
            </div>

            <!-- itensEncontrados -->

            <div class="container">

                <div class="row justify-content-center"id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/laura.jpg" alt="" srcset="">
                    </div>
                    <div class="col-2 " id=describ>
                        Laura Schiffer
                        28 anos
                        RPG / Terror / Cartas

                    </div>
                </div>
                <div class="row justify-content-center"id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/avatar2.jpg" alt="" srcset="">
                    </div>
                    <div class="col-2">
                        Margo Laurie
                        28 anos
                        Terror / Cartas
                    </div>
                </div>
                <div class="row justify-content-center"id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/avatar3.png" alt="" srcset="">
                    </div>
                    <div class="col-2">
                        Master Checkers
                        52.417 jogadores
                        12.323 Gostaram
                    </div>
                </div>
                <div class="row justify-content-center"id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/avatar4.png" alt="" srcset="">
                    </div>
                    <div class="col-2">
                        Coloridas
                        1.527 jogadores
                        986 Gostaram
                    </div>
                </div>
                <div class="row justify-content-center"id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/avatar5.png" alt="" srcset="">
                    </div>
                    <div class="col-2">
                        Juliana Cain
                        24 anos
                        RPG / Históricos
                    </div>
                </div>
                <div class="row justify-content-center" id="profile">
                    <div class="col-2" id="avatar">
                        <img width="144px" height="77px" src="/images/fotos/avatar6.png" alt="" srcset="">
                    </div>
                    <div class="col-2">
                        Andreia  Passaroli
                        35 anos
                        Cartas
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-2">
                    <button id="entrar">Entrar</button>
                </div>

            </div>



        </div>

    </div>

</div>
</div>

</div>
</div>


<%- include('./partials/footer') %>