<%- include('./partials/header') %>

<section id="tema"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8" id='areaCentral'>
            <div class="col-10" id=caixaDeBusca>
                <label for="form-group">Buscar Por:</label>
                <select class="form-group">
                    <option>jogos</option>
                  </select>
                
            </div>
          
        </div>

        <div class="col-2"></div>
        
    </div>
</div>





<%- include('./partials/footer') %>