<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/busca.css' />
<section id="temaBusca"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentralJogo'>
            <div class="row justify-content-center">

                <form action='/dadosBusca' method="GET">
                    <div id="caixaDeBusca" class="col-10 ">
                        <div class="row justify-content-center ">
                            <label for="form-group">
                                Buscar Por:
                            </label>

                            <select class="form-group col-6" id="tipo" name="tipo">
                                <option>Selecione</option>
                                <option>Pessoa</option>
                                <option>Jogo</option>
                            </select>

                            <select class="form-group col-6" id="tema" name="tema">
                                <option>Selecione</option>
                                <option>Aventura</option>
                                <option>Civilização</option>
                                <option>Cultura Oriental</option>
                                <option>Cultura Pop</option>
                                <option>Fantasia</option>
                                <option>Faroeste</option>
                                <option>Ficção Científica</option>
                                <option>Guerra</option>
                                <option>História</option>
                                <option>Horror</option>
                                <option>Medieval</option>
                                <option>Mitologia</option>
                                <option>Luta</option>
                                <option>Policial</option>
                                <option>Política</option>
                            </select>

                            <select class="form-group col-6" id="dominio" name="dominio">
                                <option>Selecione</option>
                                <option>Jogos 4X</option>
                                <option>Jogos Abstratos</option>
                                <option>Jogos Colecionáveis</option>
                                <option>Jogos Cooperativos</option>
                                <option>Jogos de Cartas</option>
                                <option>Jogos de Guerra</option>
                                <option>Jogos de Miniaturas</option>
                                <option>Jogos em Tempo Real</option>
                                <option>Jogos Estratégicos</option>
                                <option>Jogos Expert</option>
                                <option>Jogos Familiares</option>
                                <option>Jogos Festivos</option>
                                <option>Jogos Legacy</option>
                                <option>Jogos Temáticos</option>
                            </select>

                            <select class="form-group col-6" id="mecanica" name="mecanica">
                                <option>Selecione</option>
                                <option>Coleção de Componentes</option>
                                <option>Colecionar Cartas</option>
                                <option>Compra de Cartas</option>
                                <option>Construção de Baralho</option>
                                <option>Controle de Área</option>
                                <option>Rolagem de Dados</option>
                            </select>

                        </div>
                        <div class="row justify-content-end">
                            <button type="button" id="buscaJogo"><img src="/images/icons/Lupa.png" alt=""
                                    srcset=""></button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- resultado de busca -->

            <div class="resultadoDeBusca">
                <div class="group">

                    <div class="profile">
                        <div id="avatar">
                            <img width="144px" height="77px" src="/images/fotos/avatar2.jpg" alt="" srcset="">
                        </div>
                        <div id="describ">
                            <ul>
                                <li>Margo Laurie</li>
                                <li>28 anos</li>
                                <li>Terror / Cartas/ RPG </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="profile">
                            <div id="avatar">
                                <img width="144px" height="77px" src="/images/fotos/avatar4.png" alt="" srcset="">
                            </div>
                            <div id="describ">
                                <ul>
                                    <li>Coloridas</li>
                                    <li>10.527 jogadores</li>
                                    <li>986 Gostaram</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-">
                    <button id="entrar">Mais</button>
                </div>

            </div>

        </div>
    </div>


    <%- include('./partials/footer') %>