<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/busca.css'/>
<section id="temaBusca"></section>
<div class="container" id='containerTema'>
    <div class="row">

        <div class="col-12" id='areaCentralJogo'>
            <div class="row justify-content-center">

                <form>
                    <div id="caixaDeBusca" class="col-10 ">
                        <div class="row justify-content-center ">

                            <div>
                                <label for="form-group">
                                    Buscar Por:
                                </label>
                            </div>

                            <div class="form-group col-6" >
                                <select class="form-group col-6" id="tipo" name="tipo">
                                    <option selected>Selecione</option>
                                    <option value="usuario">Usuário</option>
                                    <option value="jogo">Jogo</option>
                                </select>
                            </div>

                            <div class="row justify-content-end">
                                <button type="submit" id="busca"><img src="/images/icons/Lupa.png" alt=""
                                        srcset=""></button>
                            </div>

                            <div class="form-group col-6 buscaJogo" id=buscaUsuario>
                                <label id='rotulo'>Buscar Usuário</label>
                                <input type="text" name="buscaUsuario" id=campoUsuario class=buscaUsuario>
                            </div>


                            <div class="form-group col-6" id=buscaJogo>
                                <div>

                                    <div class="form-group col-6" id="tema" name="tema">
                                        <label id='rotulo'>Tema</label>
                                        <select class="form-group col-6" id="tema" name="tema">
                                            <option selected>Selecione</option>
                                            <option value='Aventura'>Aventura</option>
                                            <option value='Civilização'>Civilização</option>
                                            <option value='Cultura Oriental'>Cultura Oriental</option>
                                            <option value='Cultura Pop'>Cultura Pop</option>
                                            <option value='Fantasia'>Fantasia</option>
                                            <option value='Faroeste'>Faroeste</option>
                                            <option value='Ficção Científica'>Ficção</option>
                                            <option value='Guerra'>Guerra</option>
                                            <option value='História'>História</option>
                                            <option value='Horror'>Horror</option>
                                            <option value='Medieval'>Medieval</option>
                                            <option value='Mitologia'>Mitologia</option>
                                            <option value='Luta'>Luta</option>
                                            <option value='Policial'>Policial</option>
                                            <option value='Política'>Política</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6" id="dominio" name="dominio">
                                        <label id='rotulo'>Domínio</label>
                                        <select class="form-group col-6" id="dominio" name="dominio">
                                            <option selected>Selecione</option>
                                            <option value='Jogos 4x'>Jogos 4X</option>
                                            <option value='Jogos Abstratos'>Jogos Abstratos</option>
                                            <option value='Jogos Colecionáveis'>Jogos Colecionáveis</option>
                                            <option value='Jogos Cooperativos'>Jogos Cooperativos</option>
                                            <option value='Jogos de Cartas'>Jogos de Cartas</option>
                                            <option value='Jogos de Guerra'>Jogos de Guerra</option>
                                            <option value='Jogos de Miniaturas'>Jogos de Miniaturas</option>
                                            <option value='Jogos em Tempo Real'>Jogos em Tempo Real</option>
                                            <option value='Jogos Estratégicos'>Jogos Estratégicos</option>
                                            <option value='Jogos Expert'>Jogos Expert</option>
                                            <option value='Jogos Familiares'>Jogos Familiares</option>
                                            <option value='Jogos Festivos'>Jogos Festivos</option>
                                            <option value='Jogos Legacy'>Jogos Legacy</option>
                                            <option value='Jogos Temáticos'>Jogos Temáticos</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6" id="mecanica" name="mecanica">
                                        <label id='rotulo'>Mecânica</label>
                                        <select class="form-group col-6" id="mecanica" name="mecanica">
                                            <option selected>Selecione</option>
                                            <option value='Coleção de Componentes'>Coleção de Componentes</option>
                                            <option value='Colecionar Cartas'>Colecionar Cartas</option>
                                            <option value='Compra de Cartas'>Compra de Cartas</option>
                                            <option value='Construção de Baralho'>Construção de Baralho</option>
                                            <option value='Controle de Área'>Controle de Área</option>
                                            <option value='Rolagem de Dados'>Rolagem de Dados</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        </div>
                </form>
            </div>

            <!-- resultado de busca -->

            <div class="resultadoDeBusca">
                <div class="group">

                    <div class="profile">
                        <div id="avatar">
                            <img width="144px" height="77px" src="/images/fotos/avatar2.jpg" alt="" srcset="">
                        </div>

                        <div id="describ">
                            <ul>
                                <li>Margo Laurie</li>
                                <li>28 anos</li>
                                <li>Terror / Cartas/ RPG </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="profile">
                            <div id="avatar">
                                <img width="144px" height="77px" src="/images/fotos/avatar4.png" alt="" srcset="">
                            </div>

                            <div id="describ">
                                <ul>
                                    <li>Coloridas</li>
                                    <li>10.527 jogadores</li>
                                    <li>986 Gostaram</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-">
                    <button id="mais">Mais</button>
                </div>

            </div> -->

        </div>

    </div>

</div>
<script src="js/scriptBusca.js"></script>
<%- include('./partials/footer') %>