<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Looders - <%= title %></title>
    <%- include('./partials/head') %>
</head>

<body class="o-bg-transparent-2">
    <header class="container-fluid o-header u-header-landing">
        <div class="row bkgverde">
            <div class="container">
                <div class="row o-header__container">
                    <div class="o-header__container--logo">
                        <div class="u-logo">
                            <a href="/"><img src="/images/logo-landing.png" alt=""></a>
                        </div>
                        <div class="u-logo--mobile">
                            <a href="/"><img src="/images/logo-mobile.png" alt=""></a>
                        </div>
                    </div>
                    <nav class="o-header__container--login">
                        <ul>
                            <li><span>Já está na Looders?</span></li>
                            <li>
                                <span class="js-modal-login o-btn--rounded animate-grow">Entrar</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container container-cadastro">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 text-center" id='areaCentralCadastro'>
                <div class='figura'>
                    <img src="/images/icons/LogoVermelho.png" alt='Logo Looders' />
                </div>
                <br>
                <br>
                <form action='/cadastro' method='POST' name="f1">
                    <div class="form-group">
                        <input type="text" class="form-control inputCadastro" id="nomeUsuario" placeholder="Nome"
                            name='nome'>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control inputCadastro" id="apelido" placeholder="Nome de Usuário"
                            name='apelido'>
                    </div>
                    <div class="form-group">
                        <input type="email" onblur="validacaoEmail(f1.email)" class="form-control inputCadastro" id="emailUsuario" placeholder="E-mail"
                            name='email'>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control inputCadastro" id="senhaUsuario" placeholder="Senha"
                            name='senha'>
                    </div>
                    <br>
                    <button type="submit" id='botaoCadastro'>Pronto!</button>
                </form>
            </div>
            <div class="col-md-5 col-lg-4 areaCentralFoto">

                <div id="apresentacao"></div>

            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
        </div>
    </div>

    <script language="Javascript">
        function validacaoEmail(field) {
            usuario = field.value.substring(0, field.value.indexOf("@"));
            dominio = field.value.substring(field.value.indexOf("@") + 1, field.value.length);
            

            if ((usuario.length >= 1) &&
                (dominio.length >= 3) &&
                (usuario.search("@") == -1) &&
                (dominio.search("@") == -1) &&
                (usuario.search(" ") == -1) &&
                (dominio.search(" ") == -1) &&
                (dominio.search(".") != -1) &&
                (dominio.indexOf(".") >= 1) &&
                (dominio.lastIndexOf(".") < dominio.length - 1)) {
                document.getElementById("msgemail").innerHTML = "E-mail válido";
                alert("E-mail valido");
            } else {
                document.getElementById("msgemail").innerHTML = "<font color='red'>E-mail inválido </font>";
                alert("E-mail invalido");
            }
        }
    </script>

    <%- include('./partials/modal') %>
    <%- include('./partials/footer') %>