<%- include('./partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 text-center" id='areaCentralCadastro'>
            <div class='figura'>
                <img src="/images/icons/LogoVermelho.png" alt='Logo Looders' />
            </div>
            <br>
            <br>
            <button class="botoes loginBtn loginBtn--facebook">
                Login with Facebook
              </button>
              
              <button class="botoes loginBtn loginBtn--google">
                Login with Google
              </button>

              <br>
              <br>
              <br>
              <form>
              <div class="form-group">
              <input type="text" class="form-control inputCadastro" id="nomeUsuario" placeholder="Nome">
              </div>
              <div class="form-group">
              <input type="email" class="form-control inputCadastro" id="emailUsuario" placeholder="E-mail">
            </div>
            <div class="form-group">
              <input type="password" class="form-control inputCadastro" id="senhaUsuario" placeholder="Senha">
            </div>
            <br>
            <button type="submit" id='botaoCadastro'>Pronto!</button>
            </form>
        </div>
        <div class="col-md-5 col-lg-4 areaCentralFoto">

            <div id="apresentacao"></div>
           
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
    </div>
</div>

<%- include('./partials/footer') %>