<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/excluir.css' />
<!--
<div>
    <img src="/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" width=100% />
</div>
-->
<section id="tema"></section>
<div class="container" id='containerTema'>
    <div class="row">
        

        <div class="col-12" id='areaCentral'>
            <h1 id='excludeH1'>Exclusão de Usuário</h1>
            <p id="pExclude">Para exclusão do usuário copie o texto abaixo na caixa de texto:</p>    

            <p id='usuario'>Candy Daniele</p>
            <form>
                <div class="form-group" id='deleteUser'>
                  <input type="text" class="deleteUser" id="deleteUserForm">
                </div>
            </form>

            <p id="alerta"> * Esta ação é irreversível</p>
            <form>
                <button type="submit" id='botaoExcluir'>Prosseguir</button>
            </form>
        </div>

        
    </div>
</div>





<%- include('./partials/footer') %>