<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/excluir.css' />

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">

        <div class="col-12" id='areaCentral'>

            <h1 id='excludeH1'>Exclusão de Usuário</h1>
            <div id="pExclude">Para exclusão do usuário copie o texto abaixo na caixa de texto:</div>

            <div id='usuario'><%=nomeUsuario %></div>
            <div id="alerta">* Esta ação é irreversível</div>
                <form action='/excluir' method='POST'>
                    <input type="text" class="deleteUser" id="deleteUserForm" name="nome">
                    
                    <button type="submit" id='botaoExcluir'>Prosseguir</button>
                </form>
        </div>


    </div>
</div>





<%- include('./partials/footer') %>