<%- include('./partials/header') %>

<div>
    <img src="../public/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" />
</div>

<div class="container" >
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8" id='areaCentral'>
            <h1 id='excludeH1'>Exclusão de Usuário</h1>
            <p id="pExclude">Para exclusão do usuário copie o texto abaixo na caixa de texto:</p>    

            <p id='usuario'>Candy Daniele</p>
            <form>
                <div class="form-group" id='deleteUser'>
                  <input type="text" class="deleteUser" id="deleteUserForm">
            </form>

            <p id="alerta"> * Esta ação é irreversível</p>

        </div>

        <div class="col-2"></div>
        
    </div>
</div>





<%- include('./partials/footer') %>