<%- include('./partials/header-landing') %>
<main class="c-landing">
    <article class="container-fluid c-feature" >
        <section class="row" id="destaques">
            <div class="container-fluid" data-aos="fade-up" data-aos-duration="400">
                <h1>Confira os destaque da Looders</h1>
                <%- include('./partials/highlights-five') %>
            </div>
        </section>
    
        <section class="row" id="feedbacks">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Publique e receba feedbacks sobre games</h1>
                <p data-aos="fade-up" data-aos-duration="800">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? 
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>
            </div>
        </section>
    
        <section class="row" id="colecoes">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Crie sua coleção de jogos</h1>
                <p data-aos="fade-up" data-aos-duration="800">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? 
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>
            </div>
        </section>
    
        <section class="row" id="comunidade">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Escreva e leia críticas</h1>
                <p data-aos="fade-up" data-aos-duration="800">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? 
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>
            </div>
        </section>
    
        <!-- <img class="u-sticky" src="https://www.thewrap.com/wp-content/uploads/2014/06/Samuel-L.-Jackson-Pulp-Fiction.jpg" alt="Samuel L Jackson"> -->

    </article>
</main>
    
<%- include('./partials/footer') %>