<%- include('./partials/header-landing') %>
<main class="c-landing">
    <article class="container-fluid c-feature">
        <section class="row" id="destaques">
            <div class="container-fluid" data-aos="fade-up" data-aos-duration="400">
                <h1>Confira os destaque da Looders</h1>
                <%- include('./partials/highlights-five', {jogos, flagClicavel : false}) %>
        </section>

        <section class="row" id="feedbacks">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Publique e receba feedbacks sobre games</h1>
                <p data-aos="fade-up" data-aos-duration="800"><img class="centerImg" src="/images/land/land1.png" alt="">
                </p>
            </div>
        </section>

        <section class="row" id="colecoes">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Escreva e leia críticas</h1>
                <p data-aos="fade-up" data-aos-duration="800"><img class="centerImg" src="/images/land/land2.png" alt="">
                </p>
            </div>
        </section>

        <section class="row" id="comunidade">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="400">Crie sua coleção de jogos</h1>
                <p data-aos="fade-up" data-aos-duration="800"><img class="centerImg" src="/images/land/land3.png" alt="">
                </p>
            </div>
        </section>

        <!-- <img class="u-sticky" src="https://www.thewrap.com/wp-content/uploads/2014/06/Samuel-L.-Jackson-Pulp-Fiction.jpg" alt="Samuel L Jackson"> -->

    </article>
</main>

<script src='js/scriptListaIndex.js'></script>
<%- include('./partials/footer') %>