<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/separados/reset.css">
<link rel='stylesheet' href='/css/separados/jogo.css' />
<section id="temajogo"></section>

<!-- jogo -->

<main class="corpo">

    <div id="lateral">

        <div id="fotoJogo"></div>
        <div></div>
        <h3>Confira os jogos relacionados</h3>
        <div id="nomedojogo">Jogo Default</div>
        <div id="capajogo1"></div>
        <div id="nomedojogo">Jogo Default</div>
        <div id="capajogo2"></div>

    </div>

    <div id="jogo">
        <div class="navjogo">
            <div id='nota'>
                <div id='iconeEstrela'>&#9733</div>
                <div id='notaJogo'>4.2</div>
            </div>
            <div id='dado'></div>
            <p id="numd">7356</p>
            <div id="coracao"></div>
            <p id="numc">7356</p>
            <div class="rating">
                <a>&#9733</a>
                <a>&#9733</a>
                <a>&#9733</a>
                <a>&#9733</a>
                <a>&#9733</a>
            </div>
            <!-- Colocar as Estrelinhas de nota se der tempo -->

            <div><button id="dadoButton"></button></div>
            <div><button id="coracaoButton"></button></div>
        </div>
        <div id="center">
            <div id="texto">
                <h1>Nome do Jogo</h1>
                <div id="descricoes">
                    <li>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                        electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                        santis. Cevadis im ampola pa arma uma pindureta.</li>

                    <li>Lista</li>
                    <li>Dinamica</li>
                    <li>de informações</li>
                    <li>como na</li>
                    <li>busca</li>
                </div>
            </div>

            <div id="video">

            </div>
        </div>
        <div id="resenha">
            <div class="comentario">
                <div class="avatar"></div>
                <div class="comentar">
                    <textarea cols="50" placeholder="Comentar"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </div>
            <div class="comentario">
                <div class="avatar"></div>
                <div>
                    <div id='apelidoComentario'><a href="/perfil?id= ">ApelidoUsuario</a></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comentario">
                <div class="avatar"></div>
                <div>
                    <div id='apelidoComentario'><a href="/perfil?id= ">ApelidoUsuario</a></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comentario">
                <div class="avatar"></div>
                <div>
                    <div id='apelidoComentario'><a href="/perfil?id= ">ApelidoUsuario</a></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>







</main>


<%- include('./partials/footer') %>