<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/jogo.css' />
<section id="temaBusca"></section>
<div class="container" id='containerTema'>
    <div class="group">
        <div class="center">
            <div class="perfil" id=''>
                <a href="http://">
                    <h3>Arcadia Quest <br> Riders</h3>
                </a>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quasi
                        incidunt eligendi numquam? Recusandae, aliquam?</p>
                </div>
                <div class="media">
                    <h4>Media geral:</h4>
                    <div class="notas">

                    </div>
                </div>
            </div>
            <div class="jogo">
                <div class="navjogo">
                    <div id="dado"></div>
                    <p id="numd">7356</p> 
                    <div id= "coracao"></div>
                    <p id="numc" >7356</p>
                    <div id="avaliacao">
                        <p>Sua avaliação:</p>
                        <div id="star">
                        </div>
                    </div>
                    <div><button id="mais"></button></div>
                    <div><button id="dado"></button></div>
                    <div><button id="coracao"></button></div>
                </div>
                <div class="corpo">
                    <div class="texto">
                        <h1>“Uma verdade parte da História”</h1>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                            electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                            santis. Cevadis im ampola pa arma uma pindureta.</p>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                            electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                            santis. Cevadis im ampola pa arma uma pindureta.</p>
                    </div>
                    <div class="video">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="group" id="group2">
        <div class="center">
            <div class="perfilj" id=''>
                <h3>Confira os jogos relacionados</h3>
                    <div id='estrelas'></div>
                    <div  id='nomeJogo'> <p> Arcadia Quest</p></div>
                </div>
                


            </div>
            <div class="comentarios">
                <div class="comentario">
                    <div class="avatar"></div>
                    <div class="comentar">
                        <textarea cols="50" placeholder="Comentar"></textarea>
                    </div>
                    <button type="submit">Enviar</button>
                </div>
                <div class="comentario">
                    <div class="avatar"></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.
                        </p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="avatar"></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                            electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                            santis.
                            Cevadis im ampola pa arma uma pindureta.
                        </p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="avatar"></div>
                    <div class="coment">
                        <p>Mussum Ipsum,
                            cacilds vidis litro abertis. Mauris nec dolor in eros
                            commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                            tempor.
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
</div>
</div>



</div>

<%- include('./partials/footer') %>