<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/jogo.css' />
<section id="temaBusca"></section>
<div class="container" id='containerTema'>
    <div class="group">
        <div class="center">
            <div class="perfil" id=''>
                <a href="http://">
                    <h3>Arcadia Quest <br> Riders</h3>
                </a>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quasi
                        incidunt eligendi numquam? Recusandae, aliquam?</p>
                </div>
                <div class="media">
                    <h4>Media geral:</h4>
                    <div class="notas">

                    </div>
                </div>
            </div>
            <div class="jogo">
                <div class="navjogo">
                    <h4>oi</h4>
                </div>
                <div class="corpo">
                    <div class="texto">
                        <h1>“Uma verdade parte da História”</h1>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                            electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                            santis. Cevadis im ampola pa arma uma pindureta.</p>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                            electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                            santis. Cevadis im ampola pa arma uma pindureta.</p>
                    </div>
                    <div class="video">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="group" id="group2">
        <div class="center">
            <div class="perfil" id=''>
                <h1>ola</h1>

            </div>
            <div class="jogo">
                <h1>ei</h1>
            </div>
        </div>
    </div>



</div>

<%- include('./partials/footer') %>