<%- include('./partials/header') %>

<section class="c-banner-jogo"></section>
<main class="container c-jogo">
  <div class="c-jogo__left">
    <div class="c-jogo__left--description c-jogo__left--content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <div id='headPage'><img  class="c-photo-game" src="images/game01.jpg" alt=""></div>
      <div class="c-jogo__description">
        <h2 id='jogoNome'>League of Legends Box</h2>
        <p id='jogoDescricao'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor tortor eros, at rhoncus magna euismod sit amet.</p>
      </div>      
    </div>
    <div class="c-jogo__left--news c-jogo__left--content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <h5>Confira os Jogos Relacionados</h5>
    </div>
  </div>
  <div class="c-jogo__right">
    <div class="c-jogo__right--fav c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
      <h2 class="c-jogo__right--title">
        <a href="javascript:void(0)" onclick="Avaliar(1)">
          <img src="../images/star0.png" id="s1">
        </a>
        <a href="javascript:void(0)" onclick="Avaliar(2)">
          <img src="../images/star0.png" id="s2">
        </a>
        <a href="javascript:void(0)" onclick="Avaliar(3)">
          <img src="../images/star0.png" id="s3">
        </a>
        <a href="javascript:void(0)" onclick="Avaliar(4)">
          <img src="../images/star0.png" id="s4">
        </a>
        <a href="javascript:void(0)" onclick="Avaliar(5)">
          <img src="../images/star0.png" id="s5"></a>
        <p id="rating">0</p>
      </h2>
      <div id='jogolinkYoutube'><iframe  width="560" height="315" src="https://www.youtube.com/embed/aR-KAldshAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
    <div class="c-jogo__right--evaluation c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <h2 class="c-jogo__right--title"><i class="icon ion-android-star-half"></i> Avaliações</h2>
    </div>
    <div class="c-jogo__right--coments c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <%- include('./partials/coments') %>
    </div>
  </div>

</main>

<script>
  var jogoId = '<%=jogo%>';
</script>
<script src='js/scriptTelaJogo.js'></script>
<%- include('./partials/footer') %>