<%- include('./partials/header') %>



<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="container">
        <img src="../public/images/icons/fechar.png" id="botaoFechar" alt='Botão Fechar' title="Fechar">
      </div>
        
      <div>
        <img src="../public/images/icons/PerfilVermelho.png" id="imgLogin" alt='Ícone de Login'
        title="Ícone de Login" />
      </div>
      <section>
        <form>

          <div class="form-group" id='formElement'>
            <input type="email" class="form-control" id="formElement" placeholder="E-mail">
          </div>
          <div class="form-group" id='formElement'>
            <input type="password" class="form-control" id="formElement" placeholder="Senha">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input center" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Lembrar Senha
              </label>
            </div>
          </div>
          <button type="submit" id="button" class="btn btn-primary col-md-4 ">Entrar</button>
        </form>

      </section>
    </div>
    <div class="col-4"></div>

  </div>
</div>




</div>
</div>
<%- include('./partials/footer') %>