<%- include('./partials/header') %>
<main>
    <div>


    </div>

    <div class="col-md-6 pt-5">

        <section>
            <form name="formLogin" action="" id='formLogin'>

                <label for="email">Email</label>
                <input type="email" name="emailLogin" id="emailLogin">

                <label for="">Senha</label>
                <input type="password" name="passwordLogin" id="passwordLogin">
                <button type="submit">Enviar</button>
                
            </form>

        </section>


    </div>
</main>

<%- include('./partials/footer') %>