<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">

        <div class="col-12" id='areaCentral'>



            

        </div>

    </div>

</div>



<%- include('./partials/footer') %>