<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-md-12">

            <div id='cabecalho'>
                <div class="containerTabela">

                    <div id="avatar">

                    </div>

                    <div id="highLights" >

                    </div>

                    <div id="descricao" >
                        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram
                        sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis.
                        Cevadis im ampola pa arma uma pindureta.
                    </div>

                    <div class="redesSociais">

                    </div>
                </div>

            </div>



            <div id='areaCentral'>
                <div class="containerTabela">
                    <div class="row" id='linha'>
                        <div>
                            <div class="col">Estrelas</div>
                            <div class="col">CapaJogo</div>
                            <div class="col">NomeJogo</div>
                        </div>

                        <div>
                            <div class="w-100"></div>
                            <div class="col">Estrelas</div>
                            <div class="col">CapaJogo</div>
                            <div class="col">NomeJogo</div>
                        </div>

                        <div>
                            <div class="w-100"></div>
                            <div class="col">Estrelas</div>
                            <div class="col">CapaJogo</div>
                            <div class="col">NomeJogo</div>
                        </div>

                        <div>
                            <div class="w-100"></div>
                            <div class="col">Estrelas</div>
                            <div class="col">CapaJogo</div>
                            <div class="col">NomeJogo</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--id='areaCentral'-->

        </div>

    </div>

</div>



<%- include('./partials/footer') %>