<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-md-12">

            <div id='cabecalho'>

                    <div id="avatar">

                    </div>

                    <div id="highLights" >
                        <h3>Candy Daniele</h3>
                        <h4>Dani</h4>
                        <h4>São Paulo</h4>
                    </div>

                    <div id="descricao" >
                        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram
                        sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis.
                        Cevadis im ampola pa arma uma pindureta.
                    </div>

                    <div class="redesSociais">
                        <div id='facebook'></div>
                        <div id='twitter'></div>
                        <div id='googleplus'></div>
                    </div>

            </div>



            <div id='areaCentral'>
                <div class="containerTabela">
                    <div class="row " id='linha'>
                        <div class='containerJogo'>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>
                        
                        <div>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>
                        
                        <div class='containerJogo'>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>
                        
                        <div>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>
                        
                        <div>
                            <div class="w-100"></div>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--id='areaCentral'-->

        </div>

    </div>

</div>



<%- include('./partials/footer') %>