<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">

        <div class="col-12" >
    
            <div id='cabecalho'>

                <div id="avatar">

                </div >

                <div id="highLights">

                </div>

                <div id="descricao">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor tortor eros, at rhoncus magna euismod sit amet. Cras in blandit dui, vel semper metus. Donec odio ipsum, elementum vitae pharetra ut, aliquet eu ante. Phasellus euismod, sapien et sodales euismod, tortor erat placerat augue,
                </div>

                <div class="redesSociais">

                </div>
 
            </div>


        
            <div id='areaCentral'>
                <div class="containerTabela">
                    <div class="row">
                      <div class="col">Column</div>
                      <div class="col">Column</div>
                      <div class="col">Column</div>
                      <div class="w-100"></div>
                      <div class="col">Column</div>
                      <div class="col">Column</div>
                      <div class="col">Column</div>
                    </div>
                  </div>
            </div>


        </div>
    
    </div>

</div>



<%- include('./partials/footer') %>