<link rel='stylesheet' href='/css/separados/perfilAdm.css'>
<%- include('./partials/header') %>


<section id="temaPerfil"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>

            <!-- Status Bar -->
            <div class="container2">
                <div class="row">
                    <div class="col-sm" id="admCol1">
                        <div>Aprovados</div>
                        <h1  id='numAprovados'>2.455</h1>
                    </div>
                    <div class="col-sm" id="admCol2">
                        <div > Pendentes</div>
                        <h1 id='numPendentes'>34.455</h1>
                    </div>
                    <div class="col-sm" id="admCol3">
                        <div >Rejeitados</div>
                        <h1 id='numRejeitados'>455</h1>
                    </div>
                </div>
            </div>

            <!-- Jogos -->
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Apelido</th>
                        <th>Aprovação</th>
                    </tr>
                </thead>
                <tbody id='dinamico'>
                    <!-- <tr>
                        <td><img src='/images/icons/lapisVerde.png' alt="Avatar"></td>
                        <td>Descricao</td>'
                        <td>
                            <img id="lapisVerde" src="/images/icons/lapisVerde.png" alt="lapisVerde">
                            <img id="lapisVerde" src="/images/icons/Xis.png" alt="Xis">
                        </td>
                    </tr> -->
                </tbody>
            </table>

            <!-- <div id='areaBotao'>
                <form>
                    <button type="submit" id='botao'>Próximo</button>
                </form>
            </div> -->
        </div>


    </div>
</div>

<script src='/js/scriptPerfilAdm.js'></script>
<%- include('./partials/footer') %>