<%- include('./partials/header') %>
<!--
<div>
    <img src="/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" width=100% />
</div>
-->

<section id="temaPerfilAdm"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id='areaCentral'>

            <div>
                <h1 id="perfilAdmH1">ANÁLISE DE CONTEÚDO</h1>
            </div>

<!-- Status Bar -->
            <div class="container2">
                <div class="row">
                    <div class="col-sm" id="admCol1">
                        <div>Aprovados</div>
                        <h1>2.455</h3>
                    </div>
                    <div class="col-sm" id="admCol2">
                        <div>Pendentes</div>
                        <h1>1.455</h3>
                    </div>
                    <div class="col-sm" id="admCol3">
                        <div>Rejeitados</div>
                        <h1>55</h3>
                    </div>
                </div>
            </div>

<!-- Busca -->
            <div>
                <p>Busca</p>
            </div>

<!-- Jogos -->
            <div class="container3">
                <div class="row">
                    <div class="col-sm" >
                        <div>Foto</div>
        
                    </div>
                    <div class="col-sm" >
                        <div>Descrição</div>
                
                    </div>
                    <div class="col-sm" >
                        <div>Icones Aprovação</div>
                    </div>
                </div>
            </div>






        </div>





        <div class="col-2"></div>

    </div>
</div>





<%- include('./partials/footer') %>