<%- include('./partials/header') %>

<section class="c-banner-perfil"></section>
<main class="container c-perfil">
  <div class="c-perfil__left">
    <div class="c-perfil__left--description c-perfil__left--content">
      <img class="c-photo" src="images/fotos/avatar.jpg" alt="">
      <h2>Candy Daniele</h2>
      <h4>(Dani)</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor tortor eros, at rhoncus magna euismod sit amet. Cras in blandit dui, vel semper metus. Donec odio ipsum, elementum vitae pharetra ut, aliquet eu ante. Phasellus euismod, sapien et sodales euismod, tortor erat placerat augue,</p>
      <h3>Sao Paulo - SP</h3>
      <div class="c-social-perfil">
        sd
      </div>
    </div>
    <div class="c-perfil__left--news c-perfil__left--content">
      xss
    </div>
  </div>
  <div class="c-perfil__right">
    <div class="c-perfil__right--fav c-perfil__right--content">
      favoritos
    </div>
    <div class="c-perfil__right--coments c-perfil__right--content">
      sss
    </div>
  </div>
</main>


<%- include('./partials/footer') %>