<link rel='stylesheet' href='/css/separados/perfilAdm.css'>
<%- include('./partials/header') %>


<section id="temaPerfil"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>

            <!-- Status Bar -->
            <div class="container2">
                <div class="row">
                    <div class="col-sm" id="admCol1">
                        <div>Aprovados</div>
                        <h1>2.455</h1>
                    </div>
                    <div class="col-sm" id="admCol2">
                        <div>Pendentes</div>
                        <h1>34.455</h1>
                    </div>
                    <div class="col-sm" id="admCol3">
                        <div>Rejeitados</div>
                        <h1>455</h1>
                    </div>
                </div>
            </div>


            <!-- Busca -->
            <div id='busca'>
                <div></div>
                <form>
                    <div class="form-group" id='buscaFormDiv'>
                        <input type="text" class="buscaForm" id="buscaForm" name="buscaForm"
                            placeholder="Buscar">
                    </div>
                </form>
            </div>


            <!-- Jogos -->
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Descrição</th>
                        <th>Aprovação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/images/fotos/avatar3.png" alt="Avatar"></td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                        <td>
                            <img id="lapisVerde" src='/images/icons/lapisVerde.png' alt="lapisVerde">
                            <img id="lapisVerde" src='/images/icons/Xis.png' alt="Xis">
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/images/fotos/avatar4.png" alt="Avatar"></td>
                        <td>erspiciatis iste officia maxime consectetur commodi sunt.</td>
                        <td>
                            <img id="lapisVerde" src='/images/icons/lapisVerde.png' alt="lapisVerde">
                            <img id="lapisVerde" src='/images/icons/Xis.png' alt="Xis">
                        </td>
                    </tr>
                    <tr>
                        <td><img src='/images/fotos/avatar3.png' alt="Avatar"></td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>
                            <img id="lapisVerde" src='/images/icons/lapisVerde.png' alt="lapisVerde">
                            <img id="lapisVerde" src='/images/icons/Xis.png' alt="Xis">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id='areaBotao'>
                <form>
                    <button type="submit" id='botao'>Próximo</button>
                </form>
            </div>
        </div>


    </div>
</div>





<%- include('./partials/footer') %>