<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/perfilModerador.css' />
<!--
<div>
    <img src="/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" width=100% />
</div>
-->

<section id="temaPerfil"></section>
<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>

            <div>
                <h1 id="perfilAdmH1">ANÁLISE DE CONTEÚDO</h1>
            </div>


            <!-- Status Bar -->
            <div class="container2">
                <div class="row">
                    <div class="col-sm" id="admCol1">
                        <div>Aprovados</div>
                        <h1 id='numAprovados'></h1>
                    </div>
                    <div class="col-sm" id="admCol2">
                        <div>Pendentes</div>
                        <h1 id='numPendentes'></h1>
                    </div>
                    <div class="col-sm" id="admCol3">
                        <div>Rejeitados</div>
                        <h1 id='numRejeitados'></h1>
                    </div>
                </div>
            </div>


            <!-- Busca -->
            <!-- <div id='busca'>
                <div></div>
                <form>
                    <div class="form-group" id='buscaForm'>
                        <input type="text" class="buscaForm" id="buscaForm" name="buscaForm"
                            placeholder="Buscar">
                    </div>
                </form>
            </div> -->


            <!-- Jogos -->
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>   Nome</th>
                        <th>Descrição</th>
                        <th>Aprovação   </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script src='./js/scriptModerador.js'></script>
<%- include('./partials/footer') %>