/*
#F22441   - Vermelho/Rosa
#0F7A2F   - Verde
#E5E5E5   - Cinza
#FFFFFF   - Branco
#181718   - Preto
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', arial, sans-serif;
	background-color: #E5E5E5;
	font-size: 14pt;
}

a {
	color: #0F7A2F;
}

h1 {
	font-family: 'Comfortaa', arial, sans-serif;
	font-size: 20pt;
}

h2 {
	font-family: 'Comfortaa', arial, sans-serif;
	font-size: 15pt;
}

.ion-heart{
  color:#F22441;
}

.ion-happy{
  color:#e4980b;
}

.fotoDePagina {
	max-height: 230px;
	max-width: 100%;
	box-sizing: border-box;
}

.c-bt-default{
  transition: color .25s ease,background .25s ease;
}

  .c-bt-default:hover{
    text-decoration: none;
    color:#fff;
    background: #181718;
  }

section#temaExcluir {
	background-image: url('/images/heads/ProfileDefaultTema.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}

/* Inicio header.ejs */

/* .o-header {
	min-height: 75px;
	border-top: 2px solid #64e81b;
  background: #2d8f31;
  background: -moz-linear-gradient(left, #2d8f31 0%, #aff555 100%);
  background: -webkit-linear-gradient(left, #2d8f31 0%, #aff555 100%);
  background: linear-gradient(to right, #2d8f31 0%, #aff555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d8f31', endColorstr='#aff555', GradientType=1);
	border-bottom: 2px solid #64e81b;
} */

.o-header {
	min-height: 75px;
  background: #0F7A2F;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.o-header-navbars{
  display: flex;
}

.o-header__icons--menu{
  display: flex;
  align-items: center;
}

.o-header__icons--menu .active::before{
  content: '1';
  width: 12px;
  height: 12px;
  background-color: #f22441;
  position: absolute;
  border-radius: 50px;
  left: 12px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}

@media(min-width:768px){
  .o-header__icons--menu{
    padding-right: 10px;
  }
}

  .o-header__icons--menu a{
    color:#fff;
    padding: 0 15px;
    font-size: 28px;
    position: relative;
  }

  @media(max-width:320px){
    .o-header__icons--menu a{
      color: #fff;
      padding: 0 10px;
      font-size: 20px;
    }
  }

.o-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 71px;
  margin: 0;
  flex-wrap: initial;
}

  .o-header__container--menu label{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0 30px;
    background: rgba(229, 229, 229, 1);
    min-height: 76px;
  }

    .o-header__container--menu label:hover{
      background: #f1f1f1;
    }

  .o-header__container--menu ul {
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
  }

  @media(min-width:460px) and (max-width:768px) {
    .o-header__container--menu ul{
      top: 600%;
    }
  }

  @media(min-width:320px) and (max-width:459px) {
    .o-header__container--menu ul{
      top: 400%;
    }
    .o-header__container--menu ul li a{
      font-size: 22px;
      line-height: 32px;
      display: block;
    }
  }

    .o-header__container--menu ul li{
      text-align: left;
    }
      .o-header__container--menu ul a{
        color:#181718;
        line-height: 45px;
        font-size: 35px;
      }

@media(max-width:768px) {
	.o-header__container--logo .u-logo--mobile {
		display: block;
	}

	.o-header__container--logo .u-logo {
		display: none;
	}
}

@media(min-width:769px) {
	.o-header__container--logo .u-logo--mobile {
		display: none;
	}

	.o-header__container--logo .u-logo {
		display: block;
	}
}

/* Fim header.ejs */

/* Inicio menu */

.o-menu {
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  height: 60px;
  transition:  box-shadow 1.1s cubic-bezier(.19,1,.22,1);
  width: 60px;
  z-index: 2;
}

  .o-menu:hover {
    box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
  }

.o-hamburger {
  position: relative;
  top: 29px;
  left: 15px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
  display: none;
}

  .o-hamburger--avatar{
    border-radius: 50%;
    max-width: 120px;
    margin-bottom: 35px;
  }

  .o-hamburger:after,
  .o-hamburger:before {
    background: #000;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .o-hamburger:before {
    top: -10px;
  }

  .o-hamburger:after {
    bottom: -10px;
  }

input[type=checkbox] {
  display: none;
}

  input:checked ~ label .o-menu__avatar img {
    display: none;
  }

  input:checked ~ label .o-menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
  }

  input:checked ~ label .o-hamburger {
    transition: .5s ease-in-out;
    transform: rotate(45deg);
    display: block;
  }

  input:checked ~ label .o-hamburger:after {
    transition: .5s ease-in-out;
    transform: rotate(90deg);
    bottom: 0;
  }

  input:checked ~ label .o-hamburger:before {
    transition: .5s ease-in-out;
    transform: rotate(90deg);
    top: 0;
  }

  input:checked ~ ul {
    opacity: 1;
    visibility: visible;
  }

.o-menu__avatar img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.o-menu__link{
  padding-right: 15px;
}

@media(max-width:768px) {
  .o-menu__link{
    display: none;
  }
}

  .o-menu__link span{
    color: #444;
    font-weight: 600;
  }

/* Fim menu */

/* Inicio landing */
.o-header__container--nome-header{
  display: flex;
  align-items: center;
  color: #FFF;
}




.o-header__container--login ul{
  display: flex;
  align-items: center;
}
  .o-header__container--login ul li {
    margin-left: 15px;
  }
    .o-header__container--login ul li span{
      color: #fff;
      font-size: 16px;
    }
    @media(max-width:480px){
      .o-header__container--login ul li span{
        font-size: 13px;
      }
    }

.c-banner-landing{
  background-image: url('/images/bannerHome01.jpg');
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

  .c-banner-landing strong{
    font-weight: bolder;
  }

  .c-banner-landing h1{
    max-width: 850px;
    font: 50px/65px 'Montserrat';
    text-align: center;
  }

    @media(max-width:768px){
      .c-banner-landing h1{
        max-width: 400px;
        font: 35px/45px 'Montserrat';
      }
    }

  .c-banner-landing a,
  .c-bt-default{
    background: #F22441;
    border-radius: 35px;
    font: bold 22px/28px 'Comfortaa';
    letter-spacing: 1px;
    color:#FFF;
    padding: 15px 65px;
    text-align: center;
    text-decoration: none;
    margin: 45px 0 0;
    cursor: pointer;
  }
    .c-banner-landing a:hover{
      background: #000;
    }

.c-feature section {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 2;
  color: rgb(58, 58, 58);
  padding: 12vh 0;
  background-color: #CCCCCC;
}

  .c-feature section:nth-child(odd) {
    background-color:#f5f5f5;
  }  
  .mytab section:nth-child(even) {
    background-color:#fff;
  } 

  .c-feature h1{
    font: 900 48px  'Montserrat';
    text-align: center;
    padding-bottom: 8vh;
  }

.u-header-landing{
  min-height: 75px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

  .u-header-landing header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

.o-col-and-5{
  width: calc(20% - 30px);
}

.centerImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:1px){
  .o-col-and-3{
    width: calc(80% - 30px);
  }
}

@media(min-width:768px){
  .o-col-and-3{
    width: calc(50% - 30px);
  }
}

@media(min-width:1040px){
  .o-col-and-3{
    width: calc(33.333333% - 30px);
  }
}


@media(min-width:769px) and (max-width:1080px){
  .o-col-and-5{
    width: calc(33.333333% - 30px);;
  }
}

@media(min-width:601px) and (max-width:768px){
  .o-col-and-5{
    width: calc(50% - 30px);;
  }
}

@media(max-width:600px){
  .o-col-and-5{
    width: 100%;
  }
}

.o-sticky-menu{
  position: sticky;
  top: 0;
  z-index: 2;
}

.u-sticky {
  position: sticky;
  bottom: 50px;
}

.o-sticky-menu{
  background: #0F7A2F;
}
  .o-sticky-menu ul {
    display: flex;
    list-style: none;
    width: 100%;
    font-size: 18px;
    min-height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }
    .o-sticky-menu ul li{
      height: 100%;
    }
      .o-sticky-menu ul li a{
        color: #FFF;
        text-decoration: none;
        padding: 0 15px;
        height: 100%;
        line-height: 10vh;
        font-size: 22px;
      }
      @media(max-width:600px){
        .o-sticky-menu ul li a{
          font-size: 13px;
        }
      }

/* Fim landing */

/* Inicio destaques */

.u-highlights-grey .o-highlights__content{
  background: #f1f1f1;
}

.o-highlights{
  display: flex;
  justify-content: center;
  padding: 15px;
}

  .o-highlights__content{
    background: #fff;
    margin: 15px;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 25px;
/*     box-shadow: 0 0 1px 0 hsla(0,0%,72%,0.7); */
    outline: none;
    margin-bottom: 40px;
  }

  .o-highlights__content img{
    height: auto;
    width: 100%;
    margin: auto;
    outline: none;
  }

  .o-highlights_content-animate{
    background: #181718;
    border-radius: 25px;
    outline: none;
    width: 100%;
  }

  .o-highlights_content-animate a{
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: column;
  }

  @media(max-width:600px){
    .o-highlights_content-animate a{
      width: 180px;
      min-height: 180px;
    }
  }

  .o-highlights__header{
    text-align: center;
    border-radius: 23px 23px 0 0; 
    box-sizing: content-box; 
    max-height: 200px;
    overflow: hidden; 
    outline: none;
    width: 100%;
    display: flex;
    min-height: 200px;
    background-size: cover !important;
    margin-top: -1px;
    position: relative;
    opacity: 0.9;
  }

  .o-highlights_content-animate:hover .o-highlights__header{
    opacity: 1;
  }

    .o-highlights__header h3{
      position: absolute;
      right: 0;
      top: 0;    
      display: flex;
      color:#fff;
      padding: 20px 25px;
      border-radius: 0 0 0 25px;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 22px;
    }

    .o-highlights__header h2{
      font: bold 25px/28px 'Comfortaa';
      padding: 15px 0;
    }

  .o-highlights__features{
    display: flex;
    justify-content: space-evenly;
  }

  .o-highlights__features--item{
    background: #eaeaea;
    color: #222;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
  }

  .o-highlights__description{
    padding: 35px 25px 35px;
    width: 100%;
    margin-bottom: 55px;
  }

    .o-highlights__description a{
      color: #fff;
      text-transform: uppercase;
    }

      .o-highlights__description a h2{
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        font-family: 'Montserrat', arial, sans-serif;
        line-height: 32px;
        letter-spacing: -0.015em;
        padding-bottom: 30px;
      }

      .o-highlights__description  h2{
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        font-family: 'Montserrat', arial, sans-serif;
        line-height: 32px;
        letter-spacing: -0.015em;
        padding-bottom: 30px;
        color: #fff;
      }

    .o-highlights__description a.c-jogo__tag{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 0;
      background: #222;
      padding: 0;
      margin: 0;
      min-height: 55px;
      border-radius: 0 0 25px 25px;
      line-height: 55px;
      font-size: 13px;
      letter-spacing: 4px;
      font-weight: 300;
    }

    .o-highlights__description p{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.5%;
      letter-spacing: -0.005em;
      color: #fff;
      font-family: 'Comfortaa', arial, sans-serif;
    }

.o-highlights-table{
  flex-direction: column;
  padding: 35px 0 0 0;
  align-items: center;
}

  .o-highlights-table .o-highlights__content{
    max-width: 700px;
    width: 100%;
    margin: 10px;
  }

  .o-highlights-table__listbox{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: 250px;
  }

    .o-highlights-table__card{  
      display: flex;
      flex-direction: row;
      width: 300px;
      overflow: hidden;
    }

    .o-highlights-table__listbox-img{
      width: 100%;
      max-height: initial;
      height: 100%;
      border-radius: 23px 0 0 0;
    }

    .o-highlights-table__listbox-info{
      width: 60%;
      margin-bottom: 0;
      padding: 15px 25px 35px;
    }

    .o-highlights-table__listbox-info a{
      width: 100%;
    }

      .o-highlights-table__listbox-info a.c-jogo__tag{
        min-height: 40px;
        line-height: 40px;
      }

      .o-highlights-table__listbox-info a h2{
        text-align: center;
      }


/* Fim destaques */

/* componentes reutilizaveis */

@media(max-width:600px){
  .o-feeds-content h2{
    font-size: 32px !important;
  }
}


.o-btn--rounded{
  color:#fff;
  padding: 10px 35px;
  border: 1px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bolder;
}

  .o-btn--rounded:hover{
    background: #fff;
    color: #181718;
  }

@media (min-width: 768px) and (max-width:1080px){
  body .container {
      max-width: 850px;
  }
}

/* inicio cores de categorias */

.c-category-1{background: #E8AF2C;}
.c-category-2{background: #242644;}
.c-category-3{background: #E85C62;}
.c-category-4{background: #39123F;}
.c-category-5{background: #67D1E0;}
.c-category-6{background: #FFB129;}
.c-category-7{background: #344D9D;}
.c-category-8{background: #2EB37C;}
.c-category-9{background: #AD2224;}
.c-category-10{background: #5A39D9;}
.c-category-11{background: #8F4B6E;}
.c-category-12{background: #242644;}
.c-category-13{background: #dd2a63;}
.c-category-14{background: #E88F69;}
.c-category-15{background: #222222;}

/* fim cores de categorias */

/* busca */

/* .main {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 99999;
}
.main-button {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e91e63;
  transition: box-shadow 0.3s ease-in-out;
}
.main-button:hover {
  cursor: pointer;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.main-content {
  z-index: 10;
  font-size: 35px;
  color: #fff;
  transition: transform 0.5s ease-in-out;
}
.main-content.opened {
  transform: rotate(90deg);
}
.btn-list {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  top: -75px;
  left: -75px;
  transform: scale(0);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s 0.3s ease-in-out;
}
.btn-list.opened {
  transform: scale(1);
}
.btn-list.opened a {
  transform: scale(1);
}
.btn-float {
  color: #fff;
  font-size: 25px;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s 0.4s ease-in-out;
}
.btn-float.edit {
  top: 25px;
  left: 90px;
}
.btn-float.msg {
  top: 90px;
  left: 150px;
}
.btn-float.delete {
  top: 150px;
  left: 90px;
}
.btn-float.search {
  top: 90px;
  left: 25px;
}
 */