/*
#F22441   - Vermelho/Rosa
#0F7A2F   - Verde
#E5E5E5   - Cinza
#FFFFFF   - Branco
#181718   - Preto
*/

body {
	font-family: 'Montserrat', arial, sans-serif;
	background-color: #E5E5E5;
	font-size: 14pt;
}

a {
	color: #0F7A2F;
}

h1 {
	font-family: 'Comfortaa', arial, sans-serif;
	font-size: 20pt;
}

h2 {
	font-family: 'Comfortaa', arial, sans-serif;
	font-size: 15pt;
}

.fotoDePagina {
	max-height: 230px;
	max-width: 100%;
	box-sizing: border-box;
}


section#temaExcluir {
	background-image: url('/images/heads/h1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}


/* Começo cadastroJogo.ejs */

section#temaCadastroJogo {
	background-image: url('/images/heads/h1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}

#areaCentralJogo {
	background-color: #fff;
	height: 1000px;
	width: 100%;
	border-radius: 15px;
	text-align: left;
	box-sizing: border-box;
}

#areaCinzaFormJogo {
	background-color: #E5E5E5;
	height: 800px;
	width: 100%;
	border-radius: 15px;
	text-align: left;
  box-sizing: border-box;
  margin-top: 25px;
}

#areaCentralFormJogo {
	background-color: #fff;
	height: 600px;
	width: 100%;
	border-radius: 15px;
	text-align: left;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 30px;
}

#cadJogoH1 {
	padding: 30px 30px 0px;
	box-sizing: border-box;
	text-align: center;
}

#formCadJogo{
  padding: 30px 0px;
}

.image-upload>input {
	display: none;
  }

#addImg{
	padding: 30px;
}
/* Fim cadastroJOgo.ejs */

/* Inicio BuscaJogo */
#caixaDeBusca{
  padding-top: 10px;
  margin: 20px auto;
  background: #E9E9E9;
  padding-bottom:10px;
  border-radius: 15px;
}

.form-control {
	width: unset;
}
#input2{
margin-left: 95px;

}
.btn-sm{
  margin-left: 20px;
}
#filtroBuscaJogo{
  padding-left: 40px;
}

#avatar1{
  background-image: url('\images\fotos\laura.jpg');
}
#entrar{
  border-radius: 15px;
  background-color: #F22441;
  margin-top: 30px;
  color: #E5E5E5;
}
/* Fim BuscaJogo */

/* Inicio header.ejs */

.o-header {
	min-height: 75px;
	border-top: 2px solid #64e81b;
	border-bottom: 2px solid #64e81b;
	background: #2d8f31;
	background: -moz-linear-gradient(left, #2d8f31 0%, #aff555 100%);
	background: -webkit-linear-gradient(left, #2d8f31 0%, #aff555 100%);
	background: linear-gradient(to right, #2d8f31 0%, #aff555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d8f31', endColorstr='#aff555', GradientType=1);
}

.o-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 71px;
	margin: 0;
}

.o-header__container--menu ul {
	display: flex;
}

@media(max-width:768px) {
	.o-header__container--logo .u-logo--mobile {
		display: block;
	}

	.o-header__container--logo .u-logo {
		display: none;
	}
}

@media(min-width:769px) {
	.o-header__container--logo .u-logo--mobile {
		display: none;
	}

	.o-header__container--logo .u-logo {
		display: block;
	}
}

/* Fim header.ejs */

/* Início perfilAdm.ejs*/
section#temaPerfilAdm {
	background-image: url('/images/heads/h1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	/* viewport height */
}

#perfilAdmH1 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	font-size: 1;
}

.container2 {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #E5E5E5;
	max-height: 200px;
	border-radius: 8px;
}

#admCol1 {
	color: #0F7A2F;
	text-align: center;
	padding: 15px 15px;
}

#admCol1 h1{
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;

}

#admCol2 {
	color: #DBAF40;
	text-align: center;
	padding: 15px 15px;
}

#admCol2 h1{
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;
}

#admCol3 {
	color: #F22441;
	text-align: center;	
	padding: 15px 15px;
}
#admCol3 h1{
	font-weight: 600;
	font-size: 30pt;
	font-family: 'Montserrat', arial, sans-serif;
}

#buscaAdm{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #E5E5E5;
	min-height: 40px;
	border-radius: 8px;

}

#buscaAdmForm{
	text-align: right;
	border-radius: 	10%;
	max-height: 95vh;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Fim perfilAdm.ejs*/