<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/separados/reset.css">
<link rel='stylesheet' href='/css/separados/jogo.css' />
<section id="temajogo"></section>

<!-- jogo -->

<main class="corpo">
    
    <div id="perfil">
        <a href="http://">
            <h3>Arcadia Quest <br> Riders</h3>
        </a>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quasi
                incidunt eligendi numquam? Recusandae, aliquam?</p>
        </div>
        <div class="media">Media geral:</div>
        <div class="notas"></div>
        
    </div>




    <div id="jogo">
        <div class="navjogo">
            <div id="dado"></div>
            <p id="numd">7356</p>
            <div id="coracao"></div>
            <p id="numc">7356</p>
            <div id="avaliacao">
                <p>Sua avaliação:</p>
                <div id="star">
                </div>
            </div>
            <div><button id="mais"></button></div>
            <div><button id="dado"></button></div>
            <div><button id="coracao"></button></div>
        </div>
        <div id="center">
            <div id="texto">
                <h1>“Uma verdade parte da História”</h1>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                    electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                    santis. Cevadis im ampola pa arma uma pindureta.</p>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                    electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                    santis. Cevadis im ampola pa arma uma pindureta.</p>
            </div>
            <div id="video">

            </div>
        </div>

    </div>







    <div id="jogo2">
        <h3>Confira os jogos relacionados</h3>
        <div id="nomedojogo">Arcadia Quest</div>
        <div id="capajogo1"></div>
        <div id="estrelas"></div>
        <div id="nomedojogo">Arcadia Quest</div>
        <div id="capajogo2"></div>
        <div id="estrelas"></div>

        
    </div>



    <div id="resenha"> 
        <div class="comentario">
            <div class="avatar"></div>
            <div class="comentar">
                <textarea cols="50" placeholder="Comentar"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </div>
        <div class="comentario">
            <div class="avatar"></div>
            <div class="coment">
                <p>Mussum Ipsum,
                    cacilds vidis litro abertis. Mauris nec dolor in eros
                    commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                    tempor.
                </p>
            </div>
        </div>
        <div class="comentario">
            <div class="avatar"></div>
            <div class="coment">
                <p>Mussum Ipsum,
                    cacilds vidis litro abertis. Mauris nec dolor in eros
                    commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                    tempor.Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide
                    electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                    santis.
                    Cevadis im ampola pa arma uma pindureta.
                </p>
            </div>
        </div>
        <div class="comentario">
            <div class="avatar"></div>
            <div class="coment">
                <p>Mussum Ipsum,
                    cacilds vidis litro abertis. Mauris nec dolor in eros
                    commodo tempor.Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo
                    tempor.
                </p>
            </div>
        </div>


    </div>
</main>


<%- include('./partials/footer') %>