@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

/*
#F22441   - Vermelho/Rosa
#0F7A2F   - Verde
#E5E5E5   - Cinza
#FFFFFF   - Branco
#181718   - Preto
*/


body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
}

a {
  color: #0F7A2F;
}

h1 {
  font-family: 'Comfortaa', cursive;
}

/* Início login.ejs  */
#formElement {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 15px;
}

#button {
  background-color: #181718;
  align-content: center;
  color: white;
  border-color: #181718;
  border-radius: 100px;
  max-width: 200px;
}

#imgLogin,
#BotaoFechar{
  display: flex;
  align-content: center;
  
}